<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<!-- <select id="boardList" resultType="board">
		SELECT * FROM BOARD
	</select> -->
	
	<select id="selectBoardList" resultMap="boardMap">
		SELECT *
		FROM BOARD LEFT JOIN ATTACHMENT USING(BOARDNO)
		ORDER BY BOARDDATE DESC
	</select>
	
	<select id="countBoard" resultType="_int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<resultMap type="board" id="boardMap">
		<id column="boardno" property="boardNo"/>
		<id column="boardtitle" property="boardTitle"/>
		<id column="boardwriter" property="boardWriter"/>
		<id column="boardcontent" property="boardContent"/>
		<id column="boarddate" property="boardDate"/>
		<id column="boardreadcount" property="boardReadCount"/>
		<collection property="attachments" ofType="attachment">
			<id column="attachmentno" property="attachmentNo"/>
			<result column="boardno" property="boardNo"/>
			<result column="originalfilename" property="originalFileName"/>
			<result column="renamedfilename" property="renameFileName"/>
			<result column="downloadcount" property="downloadCount"/>
		</collection>
		
	</resultMap>
	
	<resultMap type="attachment" id="attachmentMap">
		
	</resultMap>
	
	<select id="selectBoard" parameterType="_int" resultMap="boardMap">
		SELECT * FROM BOARD LEFT JOIN ATTACHMENT USING(BOARDNO) WHERE BOARDNO = #{ no } ORDER BY BOARDDATE DESC
	</select>
	
	<!-- 210701 -->
	<insert id="insertBoard">
	
		INSERT INTO BOARD VALUES(SEQ_BOARDNO.NEXTVAL, #{boardTitle}, #{boardWriter}, #{boardContent}, default, default)
		
		<!-- 본쿼리가 실행되기 전 또는 후에 어떠한 쿼리문을 실행할 수 있음 -->
		<!-- 위 INSERT문을 실행한 후에 그 row의 BOARDNO를 가져와서 select문을 실행함  -->
		<selectKey keyProperty="boardNo" resultType="_int" order="AFTER">
			SELECT SEQ_BOARDNO.CURRVAL FROM DUAL
		</selectKey>
		
	</insert>
	
	<insert id="insertAttachment">
		INSERT INTO ATTACHMENT VALUES(SEQ_ATTACHMENTNO.NEXTVAL, #{boardNo}, #{originalFileName}, #{renameFileName}, default, default, default)
	</insert> 
	
	
	
	
</mapper>
