<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER VALUES(#{userId}, #{password}, #{userName}, #{gender}, #{age}, #{email}, #{phone}, #{address}, #{hobby, typeHandler=strArr}, DEFAULT )
	</insert>
	
	<resultMap type="member" id="memMap" >
		<result column="hobby" property="hobby" typeHandler="com.kh.spring.common.StringArrayTypeHandler"/>
	</resultMap>
	
	<select id="memberLogin" parameterType="member" resultMap="memMap" >
		<!-- SELECT * FROM MEMBER WHERE USERID = #{userId} AND PASSWORD = #{password} -->
		
		<!-- 비밀번호가 암호화되었기 때문에  쿼리문이 아니라 controller에서 메소드를 통해 비교해서 로그인시킬지말지 정한다 -->
		SELECT * FROM MEMBER WHERE USERID = #{userId}
	</select>
</mapper>
